/*
*= require material_icons
*= require_self
*= require_tree .
*/

@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("teal", "lighten-2") !default;
@import 'materialize';

.notifications{
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.alert{
  color:#ef5350;
}
.notice{
  color:#8d6e63;
}
.nav-wrapper{
  background-color: #4db6ac;
}
